/*
Created by Koleton Murray
Last Edit 12/16/21
*/

.img-aboutme {
    max-width: 30%;
    height: auto;
    float: left;
    padding-right: 25px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 25px;
  }
.img-first {
    max-width: 40%;
    height: auto;
  }
  
.img-right {
    float: right;
  }

.bluelink {
    color: #4169e1;
    text-decoration: underline;
  }

.text-center {
    text-align: center;
  }

li {
    padding-top: 5px;
}

.extra-padding {
    padding-top: 30px;
  }

h3, h5 {
    color: #2ab3ce;
}

ol {
    padding-left: 35%;
}

.resume {
    padding-left: 28%;
}

h5 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:large;
    font-style: italic;
}

.secondaryNav {
    padding-top: 0px;
    padding-bottom: 0px;
}